{{ define "main" }}
  <main class="content">
    <div class="profile">test</div>
    <section id="about">
      
      <h2>About Me</h2>
      {{ .Content }}

      <div class="btn-cv">
        <a href="#">Download CV</i></a>
      </div>

    </section>

    <section id="interests">
      <h2>Research Interests</h2>

      {{ range .Site.Data.data.interests }}
      <div class="icon-item">
        <div><i class="fa-solid fa-bookmark"></i></div>
        <div>{{.}}</div>
      </div>
      {{ end }}

    </section>

    <section id="news">
      <h2>What's New</h2>

      {{ range where .Site.RegularPages "Section" "news" }}

      <div class="icon-item">
        <div><i class="fa-solid fa-newspaper"></i></div>
        <div><a href="{{.Permalink}}">{{.Date.Format "Jan 2006"}} | {{.Title}}</a></div>
      </div>
      {{ end }}

    </section>

    <section id="Projects">
      <h2>Projects</h2>

      {{ range .Site.Data.data.projects }}

      <div class="icon-item">
        <div><i class="fa-solid fa-folder"></i></div>
        <div><a href="{{ .link }}" target="_blank">{{ .name }}</a></div>
      </div>

      {{ end }}

    </section>

  </main>
  


  

{{ end }}