{{ define "main" }}
<main class="content">
    {{ $datafile := .Params.datafile }}
    {{ if $datafile }}
    <section id="awards">
        <h2>Awards</h2>
        {{ with index .Site.Data $datafile }}
        <ul>
            {{ range sort . "date" "desc" }}
            <li>
                {{ if .link }}
                <a href="{{ .link }}">{{ .name }}</a>
                {{ else }}
                {{ .name }}
                {{ end }}
                {{ with .description }}
                <br><small>{{ . }}</small>
                {{ end }}
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </section>
    {{ end }}


</main>

{{ end }}