{{ define "main" }}
<main class="content">
  {{ $datafile := .Params.datafile }}
  {{ if $datafile }}
  <section id="education">
    <h2>Education</h2>
    {{ with index .Site.Data $datafile }}
    <div class="icon-grid">
    {{ range .education }}
    
      <div class="icon-grid__item">
        <div><i class="fa-solid fa-graduation-cap"></i></div>
        <div>{{ .degree }} <br> <span class="text-muted">{{ .institute }}</span></div>
      </div>
      <div class="icon-grid__date">{{ .date }}</div>
    {{ end }}
    </div>
    {{ end }}
  </section>

  <section id="work">
    <h2>Work Experience</h2>
    {{ with index .Site.Data $datafile }}
    <div class="icon-grid">
    {{ range .experience }}
      <div class="icon-grid__item">
        <div><i class="fa-solid fa-briefcase"></i></div>
        <div>{{ .position }} <br> <span class="text-muted">{{ .company }}</span></div>
      </div>
      <div class="icon-grid__date">{{ .date }}</div>
    {{ end }}
    </div>
    {{ end }}
  </section>

  <section id="activities">
    <h2>Professional Activities</h2>

    <h3>Membership in Societies and Positions Held</h3>
    {{ with index .Site.Data $datafile }}
    <div class="icon-grid">
    {{ range .societies }}
  
   
      <div class="icon-grid__item">
        <div><i class="fa-solid fa-user-tie"></i></div>
        <div>{{ .position }}</span></div>
      </div>
      <div class="icon-grid__date">{{ .date }}</div>
    
    {{ end }}
    </div>
    {{ end }}

    <h3>External Reviewer</h3>
    {{ with index .Site.Data $datafile }}
    <div class="icon-grid icon-grid--one-column">
      <div class="icon-grid__item">
        <div><i class="fa-solid fa-book"></i></div>
        <div>
          <strong>Journals: </strong>
          {{ delimit .reviewer.journal ", " }}
        </div>
      </div>

      <div class="icon-grid__item">
        <div><i class="fa-solid fa-book"></i></div>
        <div>
          <strong>Conference: </strong>
          {{ delimit .reviewer.conference ", " }}
        </div>
      </div>
    </div>
    {{ end }}
  </section>
  {{ end }}
  

</main>

{{ end }}



