{{ define "main" }}
<main class="content">

  <section id="education">
    <h2>Education</h2>

    {{ range .Site.Data.data.education }}
    <div class="edu-item">
      <div class="icon-item">
        <div><i class="fa-solid fa-graduation-cap"></i></div>
        <div>{{ .degree }} <br> <span class="text-muted">{{ .institute }}</span></div>
      </div>
      <div class="edu-date">{{ .date }}</div>
    </div>
    {{ end }}

  </section>

  <section id="work">
    <h2>Work Experience</h2>

    {{ range .Site.Data.data.work }}
    <div class="edu-item">
      <div class="icon-item">
        <div><i class="fa-solid fa-briefcase"></i></div>
        <div>{{ .position }} <br> <span class="text-muted">{{ .company }}</span></div>
      </div>
      <div class="edu-date">{{ .date }}</div>
    </div>
    {{ end }}

  </section>

  <section id="activities">
    <h2>Professional Activities</h2>

    <h4>Membership in Societies and Positions Held</h4>

    {{ range .Site.Data.data.memberships }}
    {{ range .societies}}
    <div class="edu-item">
      <div class="icon-item">
        <div><i class="fa-solid fa-user-tie"></i></div>
        <div>{{ .position }}</span></div>
      </div>
      <div class="edu-date">{{ .date }}</div>
    </div>
    {{ end }}
    {{ end }}

    <h4>Peer Review</h4>

    <div class="icon-item">
      <div><i class="fa-solid fa-book"></i></div>
      <div>
        <strong>Journals:</strong>
        <p>
        {{ range .Site.Data.data.reviewer }}
        {{range .journal}}
        {{ . }},
        {{ end }}
        {{ end }}
        </p>
      </div>
    </div>

    <div class="icon-item">
      <div><i class="fa-solid fa-book"></i></div>
      <div>
        <strong>Conference:</strong>
        <p>
        {{ range .Site.Data.data.reviewer }}
        {{range .conference}}
        {{ . }},
        {{ end }}
        {{ end }}
        </p>
      </div>
    </div>
  </section>

</main>

{{ end }}



