{{ define "main" }}
<main class="content" id="publications">
  <section>
    <h2>Publications</h2>
    {{ if .Params.journals }}
    <h3>Journal</h3>
    <div class="publication-group">
      {{ range sort .Site.Data.journals "date" "desc"}}
      <div class="publication">
        <div class="publication__item">{{.publication}}</div>
        <div class="publication__link">
          {{ range .links }} {{ range $key, $value := . }}
          <a href="{{$value}}">{{$key}}</a>
          {{ end }} {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}

    {{ if .Params.conferences }}
    <h3>Conference</h3>
    <div class="publication-group">
      {{ range sort .Site.Data.conferences "date" "desc"}}
      <div class="publication">
        <div class="publication__item">{{.publication}}</div>
        <div class="publication__link">
          {{ range .links }} {{ range $key, $value := . }}
          <a href="{{$value}}">{{$key}}</a>
          {{ end }} {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}

    {{ if .Params.patents }}
    <h4>Patents</h4>
    <div class="publication-group">
      {{ range sort .Site.Data.patents "date" "desc"}}
      <div class="publication">
        <div class="publication__item">{{.patent}}</div>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </section>
</main>

{{ end }}
