{{ define "main" }}
<main class="content" id="publications">
  <section>
    <h2>Publications</h2>

    <h4>Journal</h4>
    <div class="publication-group">
      {{ range sort .Site.Data.journals "date" "desc"}}
      <div class="publication">
        <div class="publication__item">{{.publication}}</div>
        <div class="publication__link">
          {{ range .links }} {{ range $key, $value := . }}
          <a href="{{$value}}">{{$key}}</a>
          {{ end }} {{ end }}
        </div>
      </div>
      {{ end }}
    </div>

    <h4>Conference</h4>
    <div class="publication-group">
      {{ range sort .Site.Data.conferences "date" "desc"}}
      <div class="publication">
        <div class="publication__item">{{.publication}}</div>
        <div class="publication__link">
          {{ range .links }} {{ range $key, $value := . }}
          <a href="{{$value}}">{{$key}}</a>
          {{ end }} {{ end }}
        </div>
      </div>
      {{ end }}
    </div>

    
  </section>
</main>

{{ end }}
